/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  --primary-color: #44b564;
  --danger-color: #ff0000;
  --text-color: #777777;
  --heading-color: #333333;
  --box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.1);
}

/* Reboot */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

/* Utilities */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.flexible-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.responsible-half-width {
  width: 50%;
}

.responsible-half-width:first-child {
  padding-right: 20px;
}

.responsible-half-width:last-child {
  padding-left: 20px;
}

.btn {
  font-size: 1.5rem;
  display: inline-block;
}

.btn-success {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #1d8039;
}

.text-danger {
  color: var(--danger-color);
}

.text-success {
  color: var(--primary-color);
}

/* Header Area */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  color: var(--heading-color);
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo img {
  width: 40px;
  margin-right: 7px;
}

.mobile-menu {
  display: none;
  width: 30px;
  border: 0;
  background-color: var(--primary-color);
  padding: 5px 0;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
}

.navbar-items .navbar-item {
  list-style: none;
  display: inline-block;
}

.navbar-items .navbar-item {
  margin: 0 15px;
}

.navbar-items .navbar-item .navbar-link {
  color: var(--text-color);
  font-size: 1.6rem;
}

.navbar-items .navbar-item.active .navbar-link {
  color: var(--primary-color);
}

/* Banner Area */
#banner-area {
  background-image: url('../images/covid-right-half.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100px;
  padding: 50px 0;
}

.danger-alert {
  color: var(--danger-color);
  font-size: 1.8rem;
}

.danger-alert i {
  margin-right: 5px;
}

.page-intro-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--heading-color);
  line-height: 1.2;
  margin-top: 5px;
}

.page-intro-desc {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-top: 15px;
}

.page-intro-btn {
  margin-top: 30px;
}

/* Statistics Area */
.statistics-box {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 40px 40px 10px 40px;
  border-radius: 24px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.statistics-title {
  font-size: 1.6rem;
  color: var(--heading-color);
}

.statistics-num {
  font-size: 2.5rem;
}

.statistics-text {
  font-size: 1.3rem;
}

.last-update {
  font-size: 1.6rem;
  margin-top: 30px;
}
