/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  --primary-color: #44b564;
  --danger-color: #ff0000;
  --text-color: #777777;
  --heading-color: #333333;
  --box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.1);
}

/* Reboot */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

/* Utilities */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.flexible-container {
  display: flex;
  justify-content: space-between;
}

.v-center {
  align-items: center;
}

.responsible-half-width {
  width: 50%;
}

.responsible-half-width:first-child {
  padding-right: 20px;
}

.responsible-half-width:last-child {
  padding-left: 20px;
}

.btn {
  font-size: 1.5rem;
  display: inline-block;
  color: var(--heading-color);
  font-weight: 500;
}

.btn-success {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #1d8039;
}

.btn-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.btn-icon .btn-text {
  background-color: #ffffff;
  margin-left: 15px;
}

.btn-icon i {
  font-size: 16px;
  margin-left: 5px;
}

.btn-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  z-index: -1;
}

.text-danger {
  color: var(--danger-color);
}

.text-success {
  color: var(--primary-color);
}

.section-intro-center {
  text-align: center;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.section-intro .section-heading {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--heading-color);
  position: relative;
  display: inline-block;
}

.section-intro .section-heading::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70%;
  height: 3px;
  background-color: var(--primary-color);
}

.section-intro.section-intro-center .section-heading::after {
  left: 50%;
  transform: translateX(-50%);
}

.section-intro .section-desc {
  font-size: 1.6rem;
  margin-top: 25px;
}
/* Header Area */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  width: 130px;
}

.mobile-menu {
  display: none;
  width: 30px;
  border: 0;
  background-color: var(--primary-color);
  padding: 5px 0;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
}

.navbar-items .navbar-item {
  list-style: none;
  display: inline-block;
}

.navbar-items .navbar-item {
  margin: 0 15px;
}

.navbar-items .navbar-item .navbar-link {
  color: var(--text-color);
  font-size: 1.6rem;
}

.navbar-items .navbar-item.active .navbar-link {
  color: var(--primary-color);
}

/* Banner Area */
#banner-area {
  background-image: url('../images/covid-right-half.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100px;
  padding: 50px 0;
}

.danger-alert {
  color: var(--danger-color);
  font-size: 1.8rem;
}

.danger-alert i {
  margin-right: 5px;
}

.page-intro-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--heading-color);
  line-height: 1.2;
  margin-top: 5px;
}

.page-intro-desc {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-top: 15px;
}

.page-intro-btn {
  margin-top: 30px;
}

/* Statistics Area */
#statistics-area {
  padding-bottom: 50px;
}

.statistics-box {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 40px 40px 10px 40px;
  border-radius: 24px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.statistics-title {
  font-size: 1.6rem;
  color: var(--heading-color);
}

.statistics-num {
  font-size: 2.5rem;
}

.statistics-text {
  font-size: 1.3rem;
}

.last-update {
  font-size: 1.6rem;
  margin-top: 30px;
}

/* What We Do Area */
#what-we-do-area {
  padding: 50px 0;
  background-image: url('../images/covid-left-half.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100px;
}

.what-we-do-list {
  margin-top: 30px;
}

.what-we-do-list li {
  font-size: 1.6rem;
  list-style-type: none;
}

.what-we-do-list li::before {
  content: '';
  display: inline-block;
  height: 19px;
  width: 21.39px;
  background-size: 21px;
  background-image: url(../images/covid-icon.svg);
  background-repeat: no-repeat;
  margin-right: 15px;
  transform: translateY(4px);
}

.what-we-do-area-btn {
  margin-top: 30px;
}

/* Prevention Area */
#prevention-area {
  padding: 50px 0;
}

.preventions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 100px;
}

.single-prevention {
  padding: 40px;
  padding-top: 0;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.prevention-image {
  margin-top: -50px;
  max-width: 100%;
}

.prevention-image.small-image {
  width: 198px;
}

.prevention-image.medium-image {
  width: 210px;
}

.prevention-image.big-image {
  width: 230px;
}

.prevention-title {
  font-size: 2rem;
  color: var(--heading-color);
  margin-top: 15px;
}

.prevention-desc {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-top: 5px;
}
